footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0;
}

button{
    color: black;
}

button:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

#siguiente {
    background-color: lightblue;
}

body{
    background-color: whitesmoke;
    color: black;
}